body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#buttons button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}